<!-- src/app/components/navbar/navbar.component.html -->
 
<nav class="navbar navbar-expand-lg" [ngClass]="{'transparent-navbar': isTransparent}">
  <div class="container-fluid">
    <!-- Logo y Nombre de la Empresa -->
    <a class="navbar-brand" (click)="navegarYScroll('/inicio')" style="cursor:pointer;">
      <!-- Placeholder para el logo "DS Desarrollo de Software" -->
      <!-- Puedes reemplazar esta imagen con tu logo real. Asegúrate de que la ruta sea correcta. -->
      <img src="assets/imagenes/ds_logo-removebg-preview.png" alt="Logo DS" height="40">
    </a>

    <!-- Botón Toggler para dispositivos móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Enlaces de Navegación -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="navegarYScroll('/inicio')">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navegarYScroll('/proyectos')">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navegarYScroll('/contacto')">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>