<section class="terminos-section py-5">
  <div class="container">
    <h1 class="mb-4 text-center">Politica de privacidad</h1>
    <p>
     Nuestra política está orientada a asegurar una navegación clara, transparente y segura en cada uno de los espacios del sitio.<br>
    <br>
    Nos enfocamos en proporcionar una interfaz confiable y profesional, respetando la confidencialidad del contenido visualizado. Toda interacción dentro de la aplicación se basa en estándares éticos y buenas prácticas de desarrollo, priorizando siempre la integridad de la experiencia del usuario.<br>
    <br>
    Nos reservamos el derecho de actualizar esta política para reflejar mejoras en nuestros procesos y herramientas, en función del avance tecnológico y la retroalimentación recibida.<br>

    </p>
    <h1 class="mb-4 text-center">Términos y Condiciones</h1>
    <p>
     El uso de la plataforma Portafolios(o el nombre de nuestra plataforma)  implica la aceptación de los siguientes términos:<br>
    <br>
	    1.	Uso Académico y Profesional<br>
            Esta aplicación ha sido desarrollada con fines educativos y de presentación profesional. Su propósito es facilitar la visualización del portafolio académico de estudiantes de Desarrollo de Software.<br>
	    <br>
        2.	Propiedad Intelectual<br>
            Todos los elementos visuales, textuales y de diseño utilizados en la plataforma son propiedad del equipo desarrollador. Queda prohibida su modificación sin autorización expresa.<br>
	    <br>
        3.	Modificaciones de la Plataforma<br>
            Nos reservamos el derecho de realizar cambios en la estructura, diseño y contenido de la aplicación para fines de mejora continua y adaptación a nuevas necesidades.<br>
	   <br>
        4.	Acceso y Navegación<br>
            El acceso a Portafolios se realiza mediante navegadores web compatibles. La navegación debe realizarse respetando los principios de uso ético y responsable.<br>
	    <br>
        5.	Responsabilidad<br>
            El equipo desarrollador no se hace responsable por el uso indebido de la información visualizada en la plataforma ni por interpretaciones erróneas del contenido mostrado.<br>
    </p>

  </div>

</section>
